# Logs
*.log
npm-debug.log
yarn-error.log

# OS / Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Environment files
.env
.env.backup
.env.production

# PHP / Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpactor.json
auth.json

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant
